#Coleta de dados de uma pagina HTML
##Objetivo: Coletar os dados da tabela de criptomoedas.

###Verificando o Status do site

In [1]:
import pandas as pd
import requests

url = 'https://www.worldcoinindex.com/'
crypto_url = requests.get(url) #verifica o status do site
print('Status da pagina: ', crypto_url)

Status da pagina:  <Response [200]>

###Mostrando as informações da tabela no site

In [48]:
import pandas as pd
import requests

crypto_data = pd.read_html(crypto_url.text)

crypto_data

[       # Unnamed: 1           Name Ticker  Last price        %     24 high  \
 0      1        NaN        Bitcoin    BTC    $ 20,830   +3.59%    $ 21,004
 1      2        NaN       Ethereum    ETH  $ 1,574.94   +7.75%  $ 1,591.45
 2      3        NaN     Binanceusd   BUSD      $ 1.00   +0.02%      $ 1.00
 3      4        NaN       Dogecoin   DOGE  $ 0.071816  +13.94%  $ 0.073635
 4      5        NaN         Ripple    XRP  $ 0.468451   +1.64%  $ 0.470741
 ..   ...        ...            ...    ...         ...      ...         ...
 97    96        NaN          Tezos    XTZ      $ 1.43   +3.26%      $ 1.48
 98    97        NaN         Kusama    KSM     $ 36.06   +2.95%     $ 36.36
 99    98        NaN          Steem  STEEM  $ 0.237117   +1.89%  $ 0.238122
 100   99        NaN  Mina Protocol   MINA  $ 0.612805  +10.07%  $ 0.625067
 101  100        NaN        Vechain    VET  $ 0.023392   +2.16%  $ 0.023559

          24 low Price Charts 7d  24 volume  # Coins Market cap
 0      $ 20,060             NaN   $ 14.84B   19.19M  $ 399.73B
 1    $ 1,458.12             NaN   $ 12.72B  122.37M  $ 192.73B
 2    $ 0.998433             NaN    $ 1.02B    1.68B    $ 1.68B
 3    $ 0.062633             NaN  $ 858.23M  129.40B    $ 9.29B
 4    $ 0.456566             NaN  $ 851.05M   50.08B   $ 23.46B
 ..          ...             ...        ...      ...        ...
 97       $ 1.39             NaN   $ 16.00M  737.88M    $ 1.05B
 98      $ 34.92             NaN   $ 15.82M    8.98M  $ 323.83M
 99   $ 0.231620             NaN   $ 15.68M  252.01M   $ 59.75M
 100  $ 0.556215             NaN   $ 15.13M      NaN        NaN
 101  $ 0.022856             NaN   $ 15.12M   55.45B    $ 1.29B

 [102 rows x 12 columns]]

###Processo de limpeza dos dados

In [49]:
len(crypto_data), type(crypto_data)
crypto_data = crypto_data[0] #Pega a primeira tabela do DataFrame

crypto_data

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 20,830",+3.59%,"$ 21,004","$ 20,060",NaN,$ 14.84B,19.19M,$ 399.73B
1,2,NaN,Ethereum,ETH,"$ 1,574.94",+7.75%,"$ 1,591.45","$ 1,458.12",NaN,$ 12.72B,122.37M,$ 192.73B
2,3,NaN,Binanceusd,BUSD,$ 1.00,+0.02%,$ 1.00,$ 0.998433,NaN,$ 1.02B,1.68B,$ 1.68B
3,4,NaN,Dogecoin,DOGE,$ 0.071816,+13.94%,$ 0.073635,$ 0.062633,NaN,$ 858.23M,129.40B,$ 9.29B
4,5,NaN,Ripple,XRP,$ 0.468451,+1.64%,$ 0.470741,$ 0.456566,NaN,$ 851.05M,50.08B,$ 23.46B
...,...,...,...,...,...,...,...,...,...,...,...,...
97,96,NaN,Tezos,XTZ,$ 1.43,+3.26%,$ 1.48,$ 1.39,NaN,$ 16.00M,737.88M,$ 1.05B
98,97,NaN,Kusama,KSM,$ 36.06,+2.95%,$ 36.36,$ 34.92,NaN,$ 15.82M,8.98M,$ 323.83M
99,98,NaN,Steem,STEEM,$ 0.237117,+1.89%,$ 0.238122,$ 0.231620,NaN,$ 15.68M,252.01M,$ 59.75M
100,99,NaN,Mina Protocol,MINA,$ 0.612805,+10.07%,$ 0.625067,$ 0.556215,NaN,$ 15.13M,NaN,NaN
101,100,NaN,Vechain,VET,$ 0.023392,+2.16%,$ 0.023559,$ 0.022856,NaN,$ 15.12M,55.45B,$ 1.29B

###Exibe o tipo de DataFrame

In [45]:
import pandas as pd
import requests

type(crypto_data)

pandas.core.frame.DataFrame

In [40]:
import pandas as pd
import requests

crypto_final = crypto_data.iloc[:,2:] #Deleta as duas primeiras colunas
crypto_final.head()

,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 20,830",+3.59%,"$ 21,004","$ 20,060",NaN,$ 14.84B,19.19M,$ 399.73B
1,Ethereum,ETH,"$ 1,574.94",+7.75%,"$ 1,591.45","$ 1,458.12",NaN,$ 12.72B,122.37M,$ 192.73B
2,Binanceusd,BUSD,$ 1.00,+0.02%,$ 1.00,$ 0.998433,NaN,$ 1.02B,1.68B,$ 1.68B
3,Dogecoin,DOGE,$ 0.071816,+13.94%,$ 0.073635,$ 0.062633,NaN,$ 858.23M,129.40B,$ 9.29B
4,Ripple,XRP,$ 0.468451,+1.64%,$ 0.470741,$ 0.456566,NaN,$ 851.05M,50.08B,$ 23.46B

###Trocando nome de algumas colunas

In [43]:
crypto_final.columns = crypto_final.columns.str.replace('Last price','last_price')
crypto_final.columns = crypto_final.columns.str.replace('24 high', 'high')
crypto_final.columns = crypto_final.columns.str.replace('24 low','low')
crypto_final.columns = crypto_final.columns.str.replace('Price Charts 7d','price_charts')

crypto_final.head()

,Name,Ticker,last_price,%,high,low,price_charts,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 20,830",+3.59%,"$ 21,004","$ 20,060",NaN,$ 14.84B,19.19M,$ 399.73B
1,Ethereum,ETH,"$ 1,574.94",+7.75%,"$ 1,591.45","$ 1,458.12",NaN,$ 12.72B,122.37M,$ 192.73B
2,Binanceusd,BUSD,$ 1.00,+0.02%,$ 1.00,$ 0.998433,NaN,$ 1.02B,1.68B,$ 1.68B
3,Dogecoin,DOGE,$ 0.071816,+13.94%,$ 0.073635,$ 0.062633,NaN,$ 858.23M,129.40B,$ 9.29B
4,Ripple,XRP,$ 0.468451,+1.64%,$ 0.470741,$ 0.456566,NaN,$ 851.05M,50.08B,$ 23.46B

###Exibindo as informações da tabela

In [44]:
crypto_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          102 non-null    object
 1   Ticker        102 non-null    object
 2   last_price    102 non-null    object
 3   %             102 non-null    object
 4   high          102 non-null    object
 5   low           102 non-null    object
 6   price_charts  2 non-null      object
 7   24 volume     102 non-null    object
 8   # Coins       81 non-null     object
 9   Market cap    81 non-null     object
dtypes: object(10)
memory usage: 8.1+ KB